/* Feuille de style Essensys
20130108
*/
body 
{
    font-family:'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
    font-size:14px;
    background-color:#F8F8F8;
    margin: 0;
}
header, section, footer
{
    width:980px;
    margin-left:auto;
    margin-right:auto;
}
header
{
    height:50px;
    margin-top:40px;
    position:relative;
}
ol
{
    padding-left:0px;
}
.float-left {
    float: left;
}

.float-right {
    float: right;
}
section
{
    background-color:White;
    border-radius:5px;
    border:solid 1px #DDD;
    overflow:hidden;
    min-height: 600px; /* Adjusted from height:100% for better React layout */
    height: 100%;
    color:#333;
    box-shadow: 2px 2px 3px #AAA;
    position:relative;
}
.esys-version
{
    font-weight:bold;
    text-align:center;
}
.esys-versiondesc
{
    margin-top: 20px;
    font-style: italic;
    font-size: 12px;
}
.loginform
{
    width:380px;
}
.lostpassword
{
    width:450px;
}
.lostpassword p
{
    width:390px;
}
header img
{
    position: absolute;
    top: 20px;
    z-index: 10;
}
.es-blk-main section, .es-blk-main header
{
    width:450px;
}
a
{
    color:#00CCFF;
    text-decoration:none;
}
.column
{
    float:left;
}
.first
{
    width:23%;
    background-color:#FBFBFB;
    border-right:solid 1px #DDD;
    line-height:18px;
    padding:0px 30px;
    padding-bottom:100%;
    margin-bottom:-100%;
}
.first h2
{
    font-weight:100;
    font-size:20px;
}
.first h4
{
    font-weight:normal;
    font-size:16px;
    line-height:22px;
    color:#888;
}
.last
{
    width:66%;
}
.clear
{
    clear:both;
}
.es-option
{
    list-style-type: none;
    padding-left: 30px;
    padding-top: 10px;
}
.bluebutton
{
    background-image:none !important;
    background-color:#00CCFF;
}
.es-login li
{
    line-height:25px;
    margin-bottom:20px;
}
.es-login .bluebutton
{
    margin-right: 45px;
}
.es-login label
{
    text-align:left;
    font-size:14px;
}

.es-wait
{
    position:absolute;
    width:100%;
    height:100%;
    background-image:url(/images/load.gif);
    background-repeat:no-repeat;
    background-position:center center;
    top:0px;
    left:0px;
    margin-bottom:20px;
}
.esMessage
{
    padding: 20px;
    font-size: 14px;
    color: #666;
    line-height: 22px;
}
.esBigdata
{
    font-size: 22px;
    text-align: center;
    border: solid 2px #C00;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: #FCC;
    margin-bottom:20px;
    margin-top:20px;
    color: #C00;
}
.es-morelink
{
    list-style-type:none;
    font-size:12px;
    padding-left:0px;
}
.es-morelink li
{
    margin-bottom:10px;
}


/* Page principale */
.esys-zone
{
    margin-bottom:20px;
    overflow:hidden;
    padding:5px;
    margin-left:20px;
}
.esys-zone h3
{
    margin-bottom:10px;
    font-size:18px;
}
.esys-validinfo label
{
    text-align:left;
    white-space: nowrap;
    float:left;
    font-size:14px;
}
.esys-validinfo div
{
    width: 330px;
    margin-bottom: 5px;
    overflow: hidden;
}
.esys-phonelist
{
    width:100%;
    border-collapse:collapse;
    border:solid 1px #929292;
}
.esys-phonelist th
{
    text-align:center;
}
.esys-phonelist td
{
    padding:5px;
    border:solid 1px #929292;
}
.esys-phonelist input
{
    width:200px !important;
}
.alarmeor
{
    height:60px;
    vertical-align:middle;
    padding-top:45px;
    font-weight:bold;
}
.disabled label
{
    color:#D2D2D2;
}
.alarmeoption
{
    width:120px !important;
}
.alarmeoption label
{
    width:40px;
}
.phone-info
{
    margin-top:10px;
}
.es-mainaction
{
    margin-left: auto;
    margin-right: auto;
}
.esys-validinfo
{
    padding:5px;
    width:auto;
    border:solid 1px white;
}
.esys-validinfo .large
{
    width:370px;
}
.radiocol1g
{
    position:relative;
    left:248px;
    display:inline;
}
.radiocol1g.on
{
    left:259px;
}
.radiocol2g
{
    position:relative;
    left:261px;
    display:inline;
}
.radiocol2g.off
{
    left:297px;
}
.radiocoltitle
{
    left: 264px;
    position: relative;
}
.esys-zone span
{
    color:Red;
    font-size:10px;
    display:none;
}
.tovalidate
{
    border:solid 1px red;
}
#voletstorecontainer input[type=checkbox]
{
    width: 50px;
}
#cboxClose
{
    display:none !important;
}
.esys-wait
{
    font-size:14px;
    font-weight:bold;
    width:300px;
    height:100px;
    text-align:center;
    padding-top:50px;
    background-image:url(/images/load.gif);
    background-repeat:no-repeat;
    background-position:center bottom;
    margin-bottom:20px;
}
.esys-wait a
{
    margin-top:15px;
    display:block;
}


/* Formulaires */
fieldset
{
    border:none;
    margin-bottom:10px;
    margin-top:20px;
}
.es-login fieldset
{
    margin-left: 30px;
}
fieldset p
{
    margin-top: 0px;
    color: #AAA;
}
legend
{
    font-size:16px;
    font-weight:bold;
    color:#999;
}
form
{
    padding-bottom:20px;
    overflow:hidden;
}
ol
{
    list-style-type:none;
}
ol li
{
    line-height:36px;
}
ol li i
{
    display: block;
    margin-left: 50px;
    line-height: 10px;
    margin-bottom: 10px;
    color: #BBB;
}
label
{
    width:220px;
    display:inline-block;
    margin-right:20px;
    text-align:right;
    font-size:12px;
}
input[type=radio]
{
    width: 50px;
    border: none;
    background: none;
}
input[type=text], input[type=password]
{
    border:solid 2px #DDD;
    border-radius:4px;
    width:290px;
    line-height:20px;
    font-family:'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
    color:#666;
}
input[type=submit], input[type=button]
{
    font-size:16px;
    color:White;
    line-height:24px;
    display:inline-block;
    cursor:pointer;
    border-radius:5px;
    border:none;
    padding:8px;
    float:right;
    background-image:url(/images/bgbutton.png);
    background-repeat:repeat-x;
    margin-right:20px;
}
input[type=password]
{
    font-size: 16px;
}
.esys-undoinfo
{
    position: absolute;
    left: 31px;
    bottom: 5px;
    font-size: 11px;
}
.esys-undoinfotop
{
    position: absolute;
    left: 31px;
    top: 97px;
    font-size: 11px;
}
#esys-undo2, #esys-undo, #esys-infosundo
{
    background-image:url(/images/bgbuttonred.png);
}
#esys-close
{
    margin-left: 10px;
    display: block;
    clear: both;
}
.field-validation-error, .validation-summary-errors
{
    background-image:url(/images/error.png);
    background-repeat:no-repeat;
    padding-left:20px;
    line-height:20px;
    display: block;
    margin-left: 200px;
    color: #CC0000;
    font-weight: bold;
}
.validation-summary-errors
{
    background-color:#E5B5B5;
    border:solid 2px #CC0000;
    border-radius:4px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top:20px;
    padding:5px;
    background-position:5px 5px;
}
.validation-summary-errors ul
{
    list-style-type:none;
    margin:0px;
}
.input-validation-error
{
    border:solid 2px #CC0000 !important;
}




/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 400px) 
{
    header, section, footer
    {
        width:330px !important;
    }
    header
    {
        margin-top:5px;
    }
    .lostpassword p
    {
        width:260px;
    }
    .es-login #Mail2
    {
        width:250px !important;
    }
    .registerbutton
    {
        margin-left:180px !important;
    }
    fieldset
    {
        margin-top:20px !important;
    }
    header img
    {
        width:102px;
        height:30px;
        margin-top:5px;
    }
    .column
    {
        float:none;
    }
    .last
    {
        width:100%;
        padding-top:10px;
    }
    .first
    {
        width:80%;  
        margin-bottom:0;
        padding:10px 30px;
        border-bottom:solid 1px #888;
    }
    label
    {
        display:block;
        text-align:left;
        width:60%;
    }
    .large label
    {
        width:45%;
    }
    .radiocol1g
    {
        left:197px;
    }
    .radiocol1g.on
    {
        left:206px;
    }
    .radiocol2g.off
    {
        left:243px;
    }
    .radiocoltitle
    {
        left:212px;
    }
    label[for=sendmail]
    {
        display:inline-block;
        width:40%;
    }
    .phonelist label
    {
        font-size:12px !important;
    }
    .radiocol2g
    {
        left:207px;
    }
    fieldset
    {
        margin-top:0px;
    }
    input[type=text], input[type=password]
    {
        width:250px;
    }
    input[type=submit]
    {
        display:block;
    }
    #SendInfosLabel
    {
        width:100% !important;
    }
    #esys-close
    {
        margin-top:20px;
    }
    .es-option
    {
        padding-left:10px;
    }
    #alcodecont input[type=button]
    {
        display: block;
        clear: both;
        float: none;
        margin-top: 5px;
    }
    #alcodecont input[type=text]
    {
        float: none !important;
    }
    .esys-zone
    {
        margin-left:0px;
    }
    #alcodecont label
    {
        width:150px;
        float:none;
    }
    #question
    {
        width:190px !important;
    }
    .alarmeor
    {
        margin-top:30px;
    }
    .esys-phonelist
    {
        width:auto;
    }
    .esys-phonelist input
    {
        width:110px !important;
        font-size:12px;
    }
}
